.btn {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #333;;
  color: white;;
  font-size: 16px;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s;
}

.btn.logout {
  margin-top: 10px;
}

.btn.logout:hover {
  background-color: tomato;
}

button:disabled
{
  background-color: tomato;
  color: white;
}

.btn.Bills:hover {
  border: 2px solid #282828;
  border-radius: 5px;
  background-color: silver;
  color: #280000  ;
  transition: 1s;
  box-shadow: 2px 2px 2px 2px #202020;
}

.btn.RemoveArchive:hover {
  border: 3px solid black;
  border-radius: 5px;
  background-color: #600000 ;
  color: silver ;
}

.btn.RegLog:hover {
  background-color: seagreen;
  color: #600000;
}

.btn.Archived:hover{
  border: 2px solid black;
  border-radius: 5px;
  background-color: #282828;
  color: crimson;
}

.btn.Add:hover {
  border: 2px solid black;
  background-color: seagreen;
  color:floralwhite;
}

.btn.Adds:hover{
  border: 2px solid black;
  background-color: seagreen;
  color: khaki;
}

.btn.Adds:hover:after {
  content: " +";
}

.btn.Delete:hover{
  border: 2px solid black;
  box-shadow: 2px 2px 2px 2px #202020;
  background-color: crimson;
  color: white;
}

