@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

.title {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.header {
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
.navLink {
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  transition: 1s;
  margin-bottom: 0;
}
.navLink:hover {
  background-color: lightgray;
  border: 1px solid #333;;
  border-radius: 20px;
  color: white;
  transition: 1s;
}

.button {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: lightgray;
}




