main {
    display: flex;
  }
  
  .block {
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1rem;
  }
  
  aside {
    flex: 1;
  }
  
  main > .block {
    flex: 3;
    margin-left: 0;
  }
  
  @media only screen and (max-width: 60rem) {
    header {
      text-align: center;
    }
    main {
      display: block;
      padding: 1rem 1rem 0 1rem;
    }
  
    main #help {
      display: none;
    }
  
    .block {
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }
.NavLink {
    text-decoration: none;
    font-weight: bold;
}
